
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: #42455a;
    padding: 20px 50px;
    position: relative;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    padding: 5px 0;
    
}

.navbar nav .logo-menu {
    display: flex;
    align-items: center;
}

.navbar nav .logo-menu img{
    margin-right: 50px;
    margin-left: 10px;
    width: 35px;
    cursor: pointer;
}

.navbar nav .logo-menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    /* background-color: aqua; */
    padding: 5px 10px;
    color: #fff;
}

.navbar nav .logo-menu ul li:first-child{
    color: #19dafa;
}

.navbar nav .signup{
    margin-right: 20px;
    cursor: pointer;
    /* background-color: bisque; */
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid transparent;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.navbar nav .signup button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    /* color: white; */
    letter-spacing: 0.5px;
}

.navbar nav .signup button a{
    color: white;
    text-decoration: none;
    padding: 7px 14px;
}



.content{
    margin-top: 100px;
    margin-left: 102px;
}

.content h1{
    color: white;
}

.content p{
    max-width: 417px;
    width: 100%;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-top: 20px;
    color: #919191;
}

.learn-section h5{
    display: inline-block;
    transform: translateY(-14px);
    /* margin-left: 2px; */
    color: #19dafa;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 4px 8px;
}

.learn-btn{
    margin-top: 20px;
    background: transparent;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}

.learn-btn .btn{
    width: 12px;
    height: 12px;
    background: url(image/icons8-play-50.png);
    background-size: contain;
    transform: translate(13px, 12px);
}

.app-img img{
    width: 400px;
    filter: drop-shadow(4px 0 10px rgb(255,255,255, 0.25));
    position: absolute;
    right: 10%;
    top: 15%;
}

.quick-links{
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,#db1bf6, #19d7f8);
    border-top-right-radius: 30px;
    padding: 10px 5px;
}

.link-box{
    display: inline-block;
    margin: 0 20px;
    padding: 10px 0;
}

.link-box img{
    width: 20px;
    margin-bottom: 8px;
}

.link-box:nth-child(1) img {
    transform: translateX(16px);
}
.link-box:nth-child(2) img {
    transform: translateX(30px);
}
.link-box:nth-child(3) img {
    transform: translateX(16px);
}
.link-box:nth-child(4) img {
    transform: translateX(8px);
}


.link-box small{
    color: white;
    display: block;
}

.social-link{
    position: absolute;
    right: 72px;
    bottom: 35px;
}

.social-link ul li{
    list-style: none;
    
}

.social-link ul li a img{
    width: 32px;
    opacity: 80%;
}